/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
	100% {
		background-position: 300px 300px;
	}
}
@-moz-keyframes bg-scrolling-reverse {
	100% {
		background-position: 300px 300px;
	}
}
@-o-keyframes bg-scrolling-reverse {
	100% {
		background-position: 300px 300px;
	}
}
@keyframes bg-scrolling-reverse {
	100% {
		background-position: 300px 300px;
	}
}
@-webkit-keyframes bg-scrolling {
	0% {
		background-position: 300px 300px;
	}
}
@-moz-keyframes bg-scrolling {
	0% {
		background-position: 300px 300px;
	}
}
@-o-keyframes bg-scrolling {
	0% {
		background-position: 300px 300px;
	}
}
@keyframes bg-scrolling {
	0% {
		background-position: 300px 300px;
	}
}
