.cardContainer {
	width: 200px;
	min-height: 278px;
	/* padding: 10px; */
	border: 1px solid black;
	border-radius: 10px 10px;
	background-color: rgb(255, 239, 232);

	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.upperBar {
	padding: 5px;
	border-bottom: 1px solid black;
	border-radius: 10px 10px 0 0;
	background-color: rgb(173, 136, 67);
}

.type {
	border-radius: 10px;
	border: 1px solid black;
	padding: 5px;
	margin: 5px;
}

.addFavButton img {
	width: 80%;
}

.pokemonImg {
	width: 136px;
	height: 136px;
}

.addFavButton {
	all: unset;
	width: 30px;
}