.componentContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
	gap: 100px;
}

.title {
	font-size: 40px;
	margin: 10px;
	font-weight: bold;
}

.formContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: antiquewhite;
	width: 300px;
	padding: 50px;
	border-radius: 20px;

	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.typesContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	align-items: start;
}

.type {
	padding: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: #f2f2f2;
	cursor: pointer;
  }
  
  .selected {
	background-color: #b3d9ff;
  }

  